<script type="text/javascript">
  RED.nodes.registerType("CommonLight", {
    category: "SCC4-DeviceRegistry",
    color: "#a6bbc2",
    defaults: {
      name: { value: "支路灯光控制" },
      mode: { value: "Status" },
      getStatusMethod: { value: "RestfulAPI" },
      Switch: { value: false },
      JudegeStatus: { value: true },
      actionName: { value: "" },
      Overtime: { value: 0 },
      Tag: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "file.png",
    label: function () {
      return this.name || "CommonLight";
    },
    outputLabels: ["开关"],
    labelsStyle: function () {
      return this.name ? "node_label_italic" : "";
    },
    oneditprepare: function () {
      var node = this;
      $("#node-input-mode").on("change", () => showCLControlTab());
    },
  });

  function showCLControlTab() {
    var val = $("#node-input-mode").val();
    if (val == "Status") {
      $("#node-Overtime").show();
      $("#node-Switch").hide();
      $("#node-JudegeStatus").hide();
      $("#node-actionName").hide();
      $("#node-getStatusMethod").show();
      $("#node-input-name").val("支路灯光状态");
    } else {
      $("#node-Switch").show();
      $("#node-JudegeStatus").show();
      $("#node-actionName").show();
      $("#node-Overtime").show();
      $("#node-getStatusMethod").hide();
      $("#node-input-name").val("支路灯光控制");
    }
  }
</script>

<script type="text/html" data-template-name="CommonLight">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> 名称</label>
    <input
      type="text"
      id="node-input-name"
      placeholder="名称"
      ng-model="node.name"
    />
    <div class="form-row">
      <label for="node-input-nodeStatus"
        ><i class="fa fa-tag"></i> 节点状态</label
      >
      <select id="node-input-mode" ng-model="node.mode">
        <option value="Status">状态</option>
        <option value="Control">控制</option>
      </select>
    </div>
    <div class="form-row" id="node-getStatusMethod">
      <label for="node-input-getStatusMethod"
        ><i class="fa fa-cog"></i> 获取状态方式</label
      >
      <select id="node-input-getStatusMethod" ng-model="node.getStatusMethod">
        <option value="RestfulAPI">RestfulAPI</option>
        <option value="WebSocket">WebSocket</option>
      </select>
    </div>
    <div class="form-row" id="node-Switch">
      <label for="node-input-Switch"
        ><i class="fa fa-tag"></i> 开关
        <input
          type="checkbox"
          id="node-input-Switch"
          style="display:inline-block; width:22px;vertical-align:baseline;"
          ng-model="node.Switch"
        />
      </label>
    </div>
    <div class="form-row" id="node-JudegeStatus">
      <label for="node-input-JudegeStatus"
        ><i class="fa fa-tag"></i> 状态判断</label>
      <select id="node-input-JudegeStatus" ng-model="node.JudegeStatus">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
    <div class="form-row" id="node-Overtime">
      <label for="node-input-Overtime"
        ><i class="fa fa-tag"></i> 超时时间 （单位：秒）</label
      >
      <input type="number" id="node-input-Overtime" ng-model="node.Overtime" />
    </div>
    <div class="form-row" id="node-actionName">
      <label for="node-input-actionName"
        ><i class="fa fa-tag"></i> 操作名称</label
      >
      <input type="text" id="node-input-actionName" ng-model="node.actionName" />
    </div>
    <div class="form-row">
      <label for="node-input-Tag"><i class="fa fa-tag"></i> 标签</label>
      <input type="text" id="node-input-Tag" placeholder="标签" />
  </div>
</script>